<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li class="p-name">Sam DiBella</li><li><a class="u-email" href="mailto:samuel.dibella@protonmail.com">samuel.dibella@protonmail.com</a></li></ul>
  </div>

  <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/samueldibella"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">samueldibella</span></a></li><li><a href="https://www.twitter.com/prolixpost"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">prolixpost</span></a></li></ul>
</div>

  <div class="footer-col footer-col-3">
    <p>Editor, media researcher, privacy activist</p>
  </div>
</div>

{%- include social.html -%}

</div>

</footer>
